.header {
	border: 3px solid #2c97b8;
	min-height: 80px;
	padding: 0.9rem 0.75rem;
	box-sizing: border-box;
	background: #ffffff;
	display: flex;
	align-items: center;
}

.brand h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
}

.brand p {
	margin: 0;
	font-size: 0.8rem;
	color: #444;
}
